figure {
  background-color: var(--second-color);
  border-radius: 1rem;
  overflow: hidden;
}

figure.invisible {
  opacity: 0;
  display: none;
}

figure > a {
  color: white;
  text-align: center;
}

figure > a > figcaption > h3 {
  margin: 16px 0;
}

figure > a > img {
  max-height: 300px;
}