#detail-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

#detail-page>article {
  display: flex;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  background-color: var(--second-color);
}

#detail-page>article>hgroup {
  padding: 0 calc(var(--second-size) * 3) 0 var(--main-size);
  max-width: 40ch;
}