

header {
  background-color: var(--third-color);
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 80px;
}

header nav {
  display: flex;
  gap: 16px;
}

header nav a {
  font-size: 18px;
}
